* {
  box-sizing: border-box;
}
body {
  font-family: 'museo-sans', 'Droid Sans', sans-serif;
  text-shadow: 1px 1px #fff;
}
html {
  background-size: cover;
}
html.ios {
  background: #fff;
}
html.ios .ios-background {
  position: fixed;
  top: 0;
  left: 0;
  display: block !important;
  z-index: 49;
}
html.ios .wrapper {
  z-index: 50;
  position: relative;
}
@media all and (orientation:portrait) {
  .ios-background {
    height: 980px;
  }
}
@media all and (orientation:landscape) {
  .ios-background {
    width: 800px;
  }
}
nav.pure-menu.pure-menu-horizontal {
  position: fixed;
  top: 0;
  background: rgba(254,254,254,0.8);
  border-bottom: 1px solid #999;
  box-shadow: 0 1px 0 #000;
  color: #000;
}
article {
  z-index: 52;
  margin: 0 auto;
  padding: 24px 48px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(254,254,254,0.8);
}
.outer {
  margin: 60px auto;
  padding: 0;
  border: 1px solid #000;
  width: 482px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #000;
  opacity: 0;
}
@media screen and (max-width: 480px) {
  article {
    width: 95%;
    padding: 12px 24px;
  }
}
.widget {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background: rgba(255,255,255,0.6);
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 12px;
}
.widget p {
  font-size: 16px;
}
.widget ul {
  list-style: none;
  padding-left: 0;
}
.widget li {
  margin-bottom: 10px;
  clear: both;
  display: block;
}
.widget span {
  font-size: 10px;
  font-weight: normal;
}
