<p>The last 10 commits to <a href="https://github.com/digitaldesigndj/digitaldesigndj.api">the socket server</a> of this site:</p>
<ul>
{{#each .}}
	<li>
		<img src="{{author.avatar_url}}" width="34" height="34" style="float: left;" />
	<div style="margin: 0 0 0 40px;">
		{{commit.message}}<br/>
		<span>{{commit.author.name}}</span>
		</li>
	</div>
{{/each}}
</ul>